@font-face {
  font-family: 'Pokemon Solid';
  src: url('https://fonts.cdnfonts.com/s/17890/Pokemon Solid.woff') format('woff');
}

@font-face {
  font-family: 'Pokemon Hollow';
  src: url('https://fonts.cdnfonts.com/s/17890/Pokemon Hollow.woff') format('woff');
}

:root {
  --pkmn-yellow: #ffcc03;
  --pkmn-blue: #3b4cca;
  --pkmn-red: #ef5350;
  --pkmn-dark-blue: #2a3990;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f0f0f0;
}
